#main_table {
    table-layout: fixed;
    width: 100%;
}
#main_table td {
    padding: 20px;
    text-align: center;
}
.dzial{
    font-size: 1.6em;
    color: black
}
.sekcja_dzial {
    font-size: 3em;
    color: black
}

.pomaranczowy {
    color: #f9c00c;
}

.wartosc {
    font-size: 3.2em;
    color: #f9c00c;
}

.więcej {
    color: green;
}

.mniej {
    color: red;
}

#nazwa {
    text-align: center;
    font-size: 5em;
}

.intro {
    font-size: 2em;
}

.chart {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-gap: 20px;
}

.legend {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
}

.pieContainer {
    padding: 30px;
    height: 600px;
    position: relative;
}

.pieBackground {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 100%;
    box-shadow: 0 0 32px rgba(0,0,0,0.5);
}

.pie {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 100%;
    clip: rect(0px, 300px, 600px, 0px);
}

.hold {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 100%;
    clip: rect(0px, 600px, 600px, 300px);
}

.projekty, tr {
    border-collapse: collapse;
}

.projekty td {
    border: 1px solid black;
}